html, body {
    width: 100.1%;
    height: 100%;
    padding-bottom: 40px;
    margin: 0;
    font-size: large;
    font-family: sans-serif;
    background-color: black;
    color: #FF9C14;
}
header {
    text-align: center;
    font-size: 250%;
}
.span4 {
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    float: left;
    background-color:#58585A;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    color: #FF9C14;
    text-align:center;
}
span {

}
#todaysCount {
    font-size:60px;
}
#positionCount {
    font-size:60px;
}
#orderCount {
    font-size:60px;
}