<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>serveGv</servlet-name>
        <servlet-class>com.toddsarratt.gaussviewer.GaussViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPositionsOpenAll</servlet-name>
        <servlet-class>com.toddsarratt.gaussviewer.PositionsOpenAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPositionsOpenToday</servlet-name>
        <servlet-class>com.toddsarratt.gaussviewer.PositionsOpenToday</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serveGv</servlet-name>
        <url-pattern>/gvHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPositionsOpenAll</servlet-name>
        <url-pattern>/gvPosOpenAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPositionsOpenToday</servlet-name>
        <url-pattern>/gvPosOpenToday</url-pattern>
    </servlet-mapping>
</web-app>